@model Holiday;
@{
    ViewData["Title"] = "Home Page";
}


    <form role="form" method="post">

        <label>Holiday number</label>
        <input type="text" asp-for="Id" />
        <input asp-controller="Home" asp-action="Add" type="submit" class="btn btn-primary" value="Add Holiday" />

        <label asp-for="Destination"></label>
        <input type="text" asp-for="Destination" />
        <input asp-controller="Home" asp-action="Update" type="submit" class="btn btn-primary" value="Update Holiday" />

        <label asp-for="Cost"></label>
        <input type="text" asp-for="Cost" />
        <input asp-controller="Home" asp-action="Delete" type="submit" class="btn btn-primary" value="Delete Holiday" />

        <label asp-for="DepartureDate"></label>
        <input type="text" asp-for="DepartureDate" />
        <input asp-controller="Home" asp-action="Print" type="submit" class="btn btn-primary" value="Print all Holidays" />

        <label asp-for="NoOfDays"></label>
        <input type="text" asp-for="NoOfDays" />

        <label asp-for="Available"></label>
        <input type="checkbox" asp-for="Available" />

        <input asp-controller="Home" asp-action="First" type="submit" class="btn btn-primary" value="<<" />
        <input asp-controller="Home" asp-action="Previous" type="submit" class="btn btn-primary" value="<" />
        <input asp-controller="Home" asp-action="Next" type="submit" class="btn btn-primary" value=">" />
        <input asp-controller="Home" asp-action="Last" type="submit" class="btn btn-primary" value=">>" />



    </form>